src/main/mule/consumer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	
	<flow name="queueConsumerFlow" doc:id="7da588e1-11d3-49f8-8961-522420075251" >
		<jms:listener doc:name="Listener" doc:id="1324f69d-df68-4ed6-884e-d4d24a341b83" config-ref="JMS_Config" destination="${server.jms.queue.name}">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<ee:transform doc:name="Transformation to filter the incoming data as per the criteria" doc:id="7d737bda-06c8-49d1-8f19-b4047d85d08b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var filteredoutput = payload filter ((value, index) -> (value.Price == "1200") and (value.Payment_Type == "Mastercard") and ((value.Country == "United States") or (value.Country == "Spain") or (value.Country == "Canada")))
---

filteredoutput map ((item, index) -> {
    "Transaction_date" : item.Transaction_date,
    "Product_name" : item.Product,
    "Price" : item.Price,
    "Country" : item.Country,
    "Payment_type" : item.Payment_Type
}) ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0775aac4-0979-4133-a360-0e348cd1d03e" message="#[payload]"/>
	</flow>
</mule>
